<!doctype html>
<html lang="us">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
	<title>忘记密码</title>
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/merser-login.css" rel="stylesheet">
</head>

<body class="forgetPwd">
<!--内容-->
	<div class="box">
		<header>
			<div class="clearfix">
				<div class="logo pull-left"><img src="../images/Merchant/logo.png" width="230px" alt="logo"/></div>
				<a href="login.html" class="backToLogin pull-right">返回登录</a>
			</div>
		</header>
		<div class="content-box">
			<div class="content-tt">账号安全</div>
			<form>
				<div class="content-body">
					<h3>找回密码</h3>
					<div class="login-content">
						<div class="login-input-box">
							<div class="login-input-name">用户名</div>
							<input class="login-input" />
						</div>
					</div>
					<div class="login-error">请输入用户名</div>
					<input type="button" id="login-btn" onclick="" class="login-btn" value="下一步" />
				</div>
			</form>			
		</div>
		<div class="content-footer">© 综合管理平台</div>
	</div>
<!--加载-->
<img id="Loading" class="loading" src="../images/Merchant/loading.gif"/>
<div id="LoadingBlack" class="modal fade hide" style="border:none;padding:0;" tabindex="-1" role="dialog" backdrop="true"  aria-hidden="true"></div>


<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/sh_main.min.js"></script>
<script>
	// loading
	setTimeout(function () {
		$('#LoadingBlack').modal('hide');
		$('#Loading').hide();
	}, 200)
	$('#LoadingBlack').modal('show');
// </script>
</body>
</html>
