<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <title>管理平台</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/merchant.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>
</head>

<body>
<div class="lpfixed-content">
    <div class="lpscrolly-content">
        <!--内容-->
        <div class="lpcontent-box">
            <div class="lpwelcome-img-box">
                <div class="lpwelcome-img"></div>
                <div class="lpwelcome-img-text lpbox-sizing">欢迎登录<br/>管理平台</div>
            </div>
        </div>
        <!--菜单-->
        <div th:replace="common/menu :: menu"></div>
        <!-- 菜单结束 -->
    </div>
</div>
<!--mian头header-->
<div th:replace="common/head :: head"></div>
<!--加载-->
<div id="LoadingBlack" class="modal fade hide" style="border:none;padding:0;" tabindex="-1" role="dialog"
     backdrop="true"
     aria-hidden="true"></div>
<img id="Loading" class="loading" th:src="@{/images/Merchant/loading.gif}"/>
<!--提示-->
<div class="modal fade " id="commonWarn" tabindex="-1" role="dialog" aria-labelledby="commonWarn" backdrop="true"
     aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header lpmodal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4>提示</h4>
            </div>
            <div class="modal-body">
                <div class="commonWarnText" id="commonWarnText"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="lpsearch-btn lpbg-yellow lppull-left" data-dismiss="modal">取消</button>
                <button type="button" class="lpsearch-btn lpbg-red lppull-right" data-dismiss="modal"
                        data-toggle="modal"
                        data-target="#LoadingBlack" id="commonWarnYes">确定
                </button>
            </div>
        </div>
    </div>
</div>
<!--提示是否成功-->
<div class="lpoperate-tipbox">
    <div class="lpoperate-tip-icon lpsearch-operate-success"></div>
    <div class="lpoperate-tip-text lpcolor-blue">保存1231231231231231231成功</div>
</div>
<!--列表详情-->
<div class="modal fade" id="tanDetail" tabindex="-1" role="dialog" aria-labelledby="tanDetail" backdrop="true"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">详情</h4>
            </div>
            <div class="modal-body">
                <div class="lpdetail-table-box">
                    <table class="lpdetail-table">
                        <tbody>
                        <tr>
                            <td class="lpdetail-table-name" width="90">用户分组</td>
                            <td>用户分组用户分组用户分组用户分组用户登录名用户登录名用户登录名用户登录名用户登录名用户登录名</td>
                        </tr>
                        <tr>
                            <td class="lpdetail-table-name">用户登录名</td>
                            <td>用户登录名用户登录名用户登录名用户登录名用户登录名用户登录名</td>
                        </tr>
                        <tr>
                            <td class="lpdetail-table-name">登陆状态</td>
                            <td>用户分组用户分组用户分组用户分组用户登录名用户登录名用户登录名用户登录名用户登录名用户登录名</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="lpsearch-btn lpbg-red" data-dismiss="modal">我知道了</button>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/merchant.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker.fr.js}"></script>
<script th:src="@{/js/jquery.poshytip.js}"></script>
<script th:src="@{/js/sh_main.min.js}"></script>
<script>
		$("#searchList").click(function () {
			setTimeout(function () {
				$('#LoadingBlack').modal('hide');
				$('#Loading').hide();
				$(".lplist-textTip").hide();
				$(".lplist-table-box").show();
			}, 200)
			$('#LoadingBlack').modal('show');
			$('#Loading').show();
		})
		$('#demo-form-name').poshytip({
			content: '哈哈哈哈哈',
			className: 'tip-yellow',

			showOn: 'focus',

			alignTo: 'target',

			alignX: 'right',

			alignY: 'center',

			offsetX: 5,
		});
		$('.form_datetime').datetimepicker({
			format: 'yyyy-mm-dd',
			language: 'fr',
			weekStart: 1,
			todayBtn: 1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			forceParse: 0,
			minView: 2,
			showMeridian: 1
		});
		/*
		*@autor：jangni
		*Desccription:菜单点击折叠样式
		*Created on 2017年12月12日
		*Modified date 2017年12月12日
		*/

		$(function () {
			menuFun()
			contentWith();
		})
		$(window).resize(function () {
			contentWith();
		});
		/*
		*@autor：jangni
		*Desccription:点击菜单出发的样式
		*Created on 2017年12月12日
		*Modified date 2017年12月12日
		*/

		$(".lppanel-collapse a").click(function () {
			$("lppanel-collapse a").removeClass("lppanel-collapse-active");
			$(this).addClass("lppanel-collapse-active");
			$(".lppanel-collapse").removeClass("in");
			$(this).parent(".lppanel-collapse").addClass("in");
			$(".lppanel-collapse a").removeClass("lppanel-collapse-active");
			$(this).addClass("lppanel-collapse-active");
			$(".lppanel-heading").removeClass("lppanel-heading-active");
			$(this).parent(".lppanel-collapse").prev(".lppanel-heading").addClass("lppanel-heading-active");
			$(this).parent(".lppanel-collapse").prev(".lppanel-heading").find(".lpmenu-ui-icon").removeClass("lpmenu-ui-icon-left").addClass("lpmenu-ui-icon-down");
		});

</script>
</body>
</html>