<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
    <meta charset="UTF-8"/>
    <title>综合管理平台</title>
    <script th:src="@{/js/jquery-2.2.3.min.js}"></script>
    <script th:src="@{/js/axios/axios.min.js}"></script>
    <script th:src="@{/js/vue/vue.min.js}"></script>
    <script th:src="@{/js/md5.js}"></script>
    <link th:href="@{/css/merser-login.css}" rel="stylesheet"/>
</head>

<body>
<div class="container-manage-box">
    <!--header wlp start-->
    <div class="header-box">
        <div class="screen-width">
            <img class="logo" th:src="@{/images/mananerImg/logo.png}"/>
            <div class="" style="clear:both;"></div>
        </div>
    </div>
    <!--header wlp end-->
    <!--banner wlp start-->
    <div class="banner-box">
        <div class="banner-width">
            <div class="banner-img"></div>
        </div>

        <div class="login-screen-box">
            <div id="login" class="login-box">
                <form id="submitForm" th:action="@{/login}" method="post">
                    <div class="login-way-box">
                        <div class="login-way">账户登录</div>
                    </div>
                    <div class="login-content-box active">

                        <div class="login-content">
                            <div class="login-input-box">
                                <div class="login-input-name">用户名</div>
                                <input id="username" name="username" placeholder="用户名 手机号 邮箱" maxlength="30" class="login-input"/>
                            </div>
                        </div>
                        <div class="login-content">
                            <div class="login-input-box">
                                <div class="login-input-name">密码</div>
                                <input type="password" id="pass"  class="login-input"/>
                                <input type="hidden" id="password" name="password" maxlength="20" class="login-input"/>
                            </div>
                        </div>
                        <div class="login-content">
                            <div class="login-input-box">
                                <div class="login-input-name">验证码</div>
                                <input id="captchaCode" name="captchaCode" maxlength="4" class="login-input"/>
                            </div>
                            <div class="login-code">
                                <img id="code" src=""/>
                            </div>
                        </div>
                        <div class="login-error" th:text="${session.errorMsg}"></div>
                        <input type="button" id="login-btn" class="login-btn" value="登录"/>
                        <a href="forgetPassword.html" class="forgot-password"></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--banner wlp end-->
    <div class="bottom-box">© 综合管理平台</div>
</div>
<script th:inline="javascript">
    $("#code").click(function(){
        var num=Math.ceil(Math.random()*10);
        var url = [[@{/code}]]+ '?'+num;
        this.src = url;
    }).click().show();

    $("#login-btn").click(function(){
        var password = $("#pass").val();
        $("#password").val(hex_md5(password));
        $("#submitForm").submit();
    });

</script>
</body>

</html>