<!DOCTYPE html>
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:th="http://www.w3.org/1999/xhtml"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>登录页面</title>
</head>
<body>
<form action="#" th:action="@{/login}" method="post">
    <input type="text" id="userName" name="userName" value="admin"/>
    <input type="password" id="passWord" name="passWord" value="admin"/>
    <input type="submit" value="登录"/>
</form>
</body>
</html>