<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>中国银行商户服务</title>
	<script src="../js/jquery-2.2.3.min.js"></script>
	<link href="../css/merser-login.css" rel="stylesheet" />
</head>

<body>
	<div class="container-manage-box">
		<!--header wlp start-->
		<div class="header-box">
			<div class="screen-width">
				<img class="logo" src="../images/mananerImg/logo.png">
				<div class="" style="clear:both;"></div>
			</div>
		</div>
		<!--header wlp end-->
		<!--banner wlp start-->
		<div class="banner-box">
			<div class="banner-width">
				<div class="banner-img" style="background-image: url(../images/mananerImg/banner_bg.jpg)"></div>
			</div>

			<div class="login-screen-box">
				<div class="login-box">
					<form>
						<div class="login-way-box">
							<div class="login-way">账户登录</div>
						</div>
						<div class="login-content-box active">
						
							<div class="login-content">
								<div class="login-input-box">
									<div class="login-input-name">用户名</div>
									<input class="login-input" />
								</div>
							</div>
							<div class="login-content">
								<div class="login-input-box">
									<div class="login-input-name">密码</div>
									<input class="login-input" />
								</div>
							</div>
							<div class="login-content">
								<div class="login-input-box">
									<div class="login-input-name">验证码</div>
									<input id="verify_code" class="login-input" />
								</div>
								<div class="login-code">
									<img src="../images/mananerImg/yanma.png">
								</div>
							</div>
							<div class="login-error"></div>
							<input type="button" id="login-btn" class="login-btn" value="登录">
							<a href="forgetPassword.html" class="forgot-password"></a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!--banner wlp end-->
		<div class="bottom-box">© 中国银行商户服务网站平台</div>
	</div>
</body>

</html>